body {
    margin: 0;
}

.map {
    z-index: 0 !important;
    background-color: cadetblue;
    height: 100vh;
    width: 100vw;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: start;
    pointer-events: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    color: #fff;
    background-color: black;
    width: 100vw;
    height: 3rem;
    pointer-events: auto;
}
.logo {
    font-size: 2rem;
}

.mainBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100vh - 3rem);
}

.leftSide {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.leftSidebar {
    height: 100%;
    background-color: gray;
    /* border-right: 1px solid white; */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.tableSection {
    width: 80%;
    height: 100%;
    background-color: #00000055;
    /* margin-left: 2rem; */
    /* border-right: 1px solid white; */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    overflow: auto;
}

.rightSidebar {
    height: 100%;
    background-color: gray;
}

.table {
    padding: 1rem;
    padding-right: 0;
    /* height: 100%; */
    width: 100%;
    margin: 1rem;
    background-color: darkgray;
    border-radius: 12px;
}

.tableHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.tableHeader > div {
    /* width: 12rem; */
    margin-right: 1rem;
}

.tableContent {
    height: 100%;
    overflow: auto;
    padding-right: 1rem;
}
.tableContent::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.tableContent::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Thumb (the draggable part) */
    border-radius: 10px;
}

.tableContent::-webkit-scrollbar-track {
    background: transparent; /* Track (background behind the thumb) */
}

.tableRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.tableRow > div {
    /* width: 12rem; */
}
